<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323496667454-o91mm91lt4aa2hf36tvn7vetfh6tk04f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323496667454-o91mm91lt4aa2hf36tvn7vetfh6tk04f</string>
	<key>API_KEY</key>
	<string>AIzaSyDI8z7f4T7ishUiu9U7F9svZn-y7Uw1fBM</string>
	<key>GCM_SENDER_ID</key>
	<string>323496667454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelpg</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelpg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323496667454:ios:e7d536d167b034d87ae46f</string>
</dict>
</plist>